* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.page-enter-active,
.page-leave-active {
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.page-enter,
.page-leave-to {
  -webkit-transform: translate3D(0, 100%, 0);
  transform: translate3D(0, 100%, 0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  backface-visibility: hidden;
  opacity: 0;
}
